<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Amazonian Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  </head>
  <body ng-app="productsApp" style="background-color:#EBEBEB">
    <style>
      @media (max-width: 800px) {
      	img {
          max-width: 300px;
      	}
      }
    </style>
    <br>
    <div style="text-align: center">
      <img src="https://curso-arquitectura-assets.s3.amazonaws.com/logistics.png" width="80px" align="center">
    </div>
    <div class="container" ng-controller="productsListController">
      <div id="filterMenu">
        <ul class="nav nav-pills">
          &nbsp;
          <li class="nav-item dropdown" ng-repeat="filterCategory in filterOptionsList.categories">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#!" role="button" aria-haspopup="true" aria-expanded="false">{{filterCategory.title}}</a>
            <div class="dropdown-menu" >
              <button class="dropdown-item" ng-repeat="filterCategorySelection in filterCategory.selections" ng-click="queryProducts(filterCategory.title, filterCategorySelection)">{{filterCategorySelection}}</button>
            </div>
          </li>
          &nbsp;
          <li class="nav-item " >
            <button type="button" class="btn btn-success" ng-click="removeFilter()">View All</button>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <div class="container">
      <div id="productsGrid" class="row" ng-controller="productsListController">
          <div class="col-md-4 border border-warning" ng-repeat="product in products">
              <br>
              <p align="center">
                <strong> {{product.name}}</strong>
                <br>
                <img src="{{product.thumbImageUri}}" alt="{{product.Name}}">
              </p>
              <p>
                <br>
                <b>Categoría:</b> {{product.type}}
                <br>
                <b>Precio:</b> {{product.price}}
                <br>
                <b>AmazonPrime:</b> {{product.prime}}
                <br>
                <b>DescuentoRegular:</b> {{product.descuento}}
              </p>
          </div>
        </div>
      </div>
    <p>
      <br>
      <br>
    </p>
  </body>
  <script>

    var productsApiEndpoint = 'REPLACE_ME';

    var app = angular.module('productsApp', []);

    var gridScope;

    var filterScope;

    app.controller('clearFilterController', function($scope) {
    });

    app.controller('productsFilterController', function($scope) {

      filterScope = $scope;

      // The possible options for products to populate the dropdown filters.
      $scope.filterOptionsList =
       {
         "categories": [
           {
             "title": "Suscripcion",
             "selections":  [
               "Prime",
               "Estandard"
             ]
           },
           {
             "title": "Descuento",
             "selections":  [
               "50%",
               "0%"
             ]
           }
         ]
       };

       $scope.removeFilter = function() {
         allProducts = getAllProducts(applyGridScope);
       }

       $scope.queryProducts = function(filterCategory, filterValue) {

           var filterCategoryQS = "";
           if (filterCategory==="Suscripcion") {
             filterCategoryQS = "Prime";
           } else {
             filterCategoryQS = ""
           }
           var productsApi = productsApiEndpoint + '/products?' + 'filter=' + filterCategoryQS + "&value=" + filterValue;

           $.ajax({
             url : productsApi,
             type : 'GET',
             success : function(response) {
               applyGridScope(response.products)
             },
             error : function(response) {
               console.log("could not retrieve products list.");
             }
           });
       }



    });

    app.controller('productsListController', function($scope) {

      gridScope = $scope;

      getAllProducts(applyGridScope);

    });

    function applyGridScope(productsList) {
      gridScope.products = productsList;
      gridScope.$apply();
    }

    function getAllProducts(callback) {

      var productsApi = productsApiEndpoint + '/products';

      $.ajax({
        url : productsApi,
        type : 'GET',
        success : function(response) {
          callback(response.products);
        },
        error : function(response) {
          console.log("could not retrieve products list.");
        }
      });
    }


  </script>
</html>
